@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-800 bg-slate-50;
    @apply dark:bg-slate-900 dark:text-slate-100;
  }
}
